.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  padding-top: 20px;
  border-color: green;
  border-width: 10px;
  border-style: Solid;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: relative; 
  left: 240px;
  bottom: 140px;
  padding-top: 20px;
  border-color: red;
  border-width: 10px;
  border-style: Solid;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 480px;
  bottom: 280px;
  padding-top: 20px;
  border-color: yellow;
  border-width: 10px;
  border-style: Solid;
  
}

p {
text-align: center;
color: blue;
font-family: Sans-serif;
}

